.wrap
  width: 90%
  margin: 0 auto


+respond-above('md')
  .wrap
    width: 85%

+respond-above('lg')
  .wrap
    width: 80%


+respond-above('xlg')
  .wrap
    width: 50%


+respond-below('xlg')
  .no-md
    display: none !important


+respond-below('md')
  .no-sm
    display: none !important
