header.primary-header
  .primary-header__container.primary-header__container--sm.primary-header__container--md.primary-header__container--lg.primary-header__container--xlg
    .primary-header__top
      a.primary-header__button(href="")
      a.primary-header__logo(href="/")
        svg(width='26', height='auto', viewbox='0 0 36 62', fill='none', xmlns='http://www.w3.org/2000/svg')
          rect(width='62', height='3.90625', transform='translate(32 62) rotate(-90)', fill='#3F91FE')
          path(d='M0 0H45.9125V3.90625H0V0Z', transform='translate(21 54) rotate(-90)', fill='#3F91FE', fill-opacity='0.75')
          rect(width='37.0554', height='3.90625', transform='translate(11 49) rotate(-90)', fill='#3F91FE', fill-opacity='0.5')
          rect(width='23', height='3.91', transform='translate(0 42) rotate(-90)', fill='#3F91FE', fill-opacity='0.25')

    nav.primary-header__navigation
      ul.primary-header__list.wrap
        li
          a(href="#/" class="primary-header__list-item") Home
        li
          a(href="#/" class="primary-header__list-item") Web Hosting
        li
          a(href="#/" class="primary-header__list-item") Domains
        li
          a(href="#/" class="primary-header__list-item") Products
          ul.primary-header__list.primary-header__list--nested
            li: a(href="#/" class="primary-header__list-item primary-header__list-item--nested") SSL Certificates
            li: a(href="#/" class="primary-header__list-item primary-header__list-item--nested") DDoS Protection
        li
          a(href="#/" class="primary-header__list-item") About
