//- index.jade
extends ./_layout/default.jade

block title
  title #{defaultTitle}
block content
  section.primary-banner
    .primary-banner__content
      .wrap
        h1 sddfasd
  h1 hello
  h2 hellol
  h2 hellol  
  h2 hellol  
  h2 hellol  
  h2 hellol  
  h2 hellol  
