//- layout.jade
doctype html
include ../_config.pug
html
  head
    include .././_partials/head.pug
  body
    include .././_partials/primary-header.pug
    block content
    include .././_partials/primary-footer.pug
