.primary-header
  background: #0E2340

  +e('container')
    +m('sm')
      width: 90%
      margin: 0 auto
  margin: auto
  +e('top')

    height: 5em
    padding: 1em 0

    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

  +e('img')
    width: 36px

  +e('button')
    height: 2.5em
    width: 2.5em
    background: red

+respond-above('md')
  .primary-header
    +e('logo')
      svg
        width: 36px
    +e('top')
      height: 6.5em
    +e('container')
      +m('sm')
        width: auto
    +e('button')
      display: none
