.partners
  background: #FAFAFA
  width: 100%
  overflow: hidden
  +e('wrap')
    display: flex
    justify-content: space-between
    align-items: center
    height: 7em
    width: 90%
    margin: auto
    svg
      width: 145px
      height: auto
      &.litespeed
        width: 160px
  +e('seperator')
    display: block
    height: 40px
    width: 1px
    background: #dfdfdf

+respond-above('md')
  .partners
    +e('wrap')
      margin: auto

      width: 90%
      svg
        width: 180px
        &.cloudlinux
          width: 260px
        &.wordpress
          width: 70px
        &.joomla
          width: 70px
        &.litespeed
          width: 210px

+respond-above('lg')
  .partners
    +e('wrap')
      width: 85%

+respond-above('xlg')
  .partners
    +e('wrap')
      width: 55%
