section.action
  .wrap
    .action__content
      .action__text
        h2.action__h2 Start building your website today!
        .action__p
          | Your Satisfaction is Guaranteed
      .action__buttons
        a(href="#").action__button
          | Get Started
        span.action__or
          | Or
        a(href="#").action__button.action__button--read
          | Read more
