include ../../_mixins/index/features.pug

section.index-features
  .index-features__wrap
    .wrap
      h2.index-features__title Experience tranqiulity on a secure
      .index-features__description Service your customers around the world from any of our 8 regions.
  .wrap
    +__item('https://google.se', 'Solid State Drives')
      | Fusce porttitor vitae dui et iaculis. Mauris quis malesuada Vestibulum semper sed nisl iaculis rhoncus.
    +__item('https://google.se', 'Solid State Drives')
      | Fusce porttitor vitae dui et iaculis. Mauris quis malesuada Vestibulum semper sed nisl iaculis rhoncus.
    +__item('https://google.se', 'Solid State Drives')
      | Fusce porttitor vitae dui et iaculis. Mauris quis malesuada Vestibulum semper sed nisl iaculis rhoncus.
    span(class='index-features__margin')
    +__item('https://google.se', 'Solid State Drives')
      | Fusce porttitor vitae dui et iaculis. Mauris quis malesuada Vestibulum semper sed nisl iaculis rhoncus.
    +__item('https://google.se', 'Solid State Drives')
      | Fusce porttitor vitae dui et iaculis. Mauris quis malesuada Vestibulum semper sed nisl iaculis rhoncus.
    +__item('https://www.bleepstatic.com/download/product-logos//2017/04/27/icon1493327549.png', 'Solid State Drives')
      | Fusce porttitor vitae dui et iaculis. Mauris quis malesuada Vestibulum semper sed nisl iaculis rhoncus.
