section.incentive
  .wrap
    .section-header__wrap
      h2.section-header__title Why Choose Hostnoble?
      .section-header__description A quick summary over the privileges of hosting your website with us.
    .incentive__wrapper
      .incentive__wrap
        .incentive-feature
          .incentive-feature__image
            img(src="https://shockhosting.net/images/rocket.png" alt="" class="incentive-feature-img")
          .incentive-feature__text
            h3.incentive-feature__title 60-Day Money Back Gurantee
            | Lorem ipsum dolor sit amet dolor ipsum sit amet orem ipsum dolor sit amet dolor ipsum sit amet
        .incentive-feature
          .incentive-feature__image
            img(src="https://shockhosting.net/images/rocket.png" alt="" class="incentive-feature-img")          
          .incentive-feature__text
            h3.incentive-feature__title 60-Day Money Back Gurantee
            | Lorem ipsum dolor sit amet dolor ipsum sit amet orem ipsum dolor sit amet dolor ipsum sit amet
        .incentive-feature.incentive__feature--last
          .incentive-feature__image
            img(src="https://shockhosting.net/images/rocket.png" alt="" class="incentive-feature-img")
          .incentive-feature__text
            h3.incentive-feature__title 60-Day Money Back Gurantee
            | Lorem ipsum dolor sit amet dolor ipsum sit amet orem ipsum dolor sit amet dolor ipsum sit amet
      
      .incentive__line
      
      .incentive__wrap.incentive__wrap--last
        .incentive-feature
          .incentive-feature__image
            img(src="https://shockhosting.net/images/rocket.png" alt="" class="incentive-feature-img")
          .incentive-feature__text
            h3.incentive-feature__title 60-Day Money Back Gurantee
            | Lorem ipsum dolor sit amet dolor ipsum sit amet orem ipsum dolor sit amet dolor ipsum sit amet
        .incentive-feature
          .incentive-feature__image
            img(src="https://shockhosting.net/images/rocket.png" alt="" class="incentive-feature-img")          
          .incentive-feature__text
            h3.incentive-feature__title 60-Day Money Back Gurantee
            | Lorem ipsum dolor sit amet dolor ipsum sit amet orem ipsum dolor sit amet dolor ipsum sit amet
        .incentive-feature.incentive__feature--last
          .incentive-feature__image
            img(src="https://shockhosting.net/images/rocket.png" alt="" class="incentive-feature-img")
          .incentive-feature__text
            h3.incentive-feature__title 60-Day Money Back Gurantee
            | Lorem ipsum dolor sit amet dolor ipsum sit amet orem ipsum dolor sit amet dolor ipsum sit amet
