section.map
  .index-features__wrap
    .wrap
      h2.index-features__title Experience tranqiulity on a secure
      .index-features__description Service your customers around the world from any of our 8 regions.
  .map__item
    img(src="/assets/images/map.png" alt="" class="map__image")
    .map__location
      .map__location-item
        .map__location--phx
          .map__location-pulse
        .map__location-name--phx
          | Phoenix, AZ
