section.review
  .wrap
    .section-header__description.section-header__description--reviews A quick summary over the privileges of hosting your website with us.
    .review__wrap
      .review__item
        .review__content
          | Great support, great interaction, solid hosting. Been with them for 3 years after being with 1and1. The servers are more responsive, the support team usually responds within 20 minutes of an issue being posted, and I'm pretty happy. Need I say more?
        .review__footer
          .review__service
            | Gothenburg, Sweden
          .review__name
            | Amin El-Rifai
