section.review
  .wrap
    .section-header__description.section-header__description--reviews A quick summary over the privileges of hosting your website with us.
    .review__wrap
      .review__item
        .review__header
          .review__avatar
            img(class="review__avatar-img" src="https://www.shareicon.net/data/128x128/2015/09/24/106428_man_512x512.png")
          .review__name
            | Amin El-Rifai
          .review__location
            | from Miami, FL
        .review__content
          | Great support, great interaction, solid hosting. Been with them for 3 years after being with 1and1. The servers are more responsive, the support team usually responds within 20 minutes of an issue being posted, and I'm pretty happy. Need I say more?
      .review__item
        .review__header
          .review__avatar
            img(class="review__avatar-img" src="https://www.shareicon.net/data/128x128/2015/09/24/106428_man_512x512.png")
          .review__name
            | Amin El-Rifai
          .review__location
            | from Miami, FL
        .review__content
          | Great support, great interaction, solid hosting. Been with them for 3 years after being with 1and1. The servers are more responsive, the support team usually responds within 20 minutes of an issue being posted, and I'm pretty happy. Need I say more?
      .review__item
        .review__header
          .review__avatar
            img(class="review__avatar-img" src="https://www.shareicon.net/data/128x128/2015/09/24/106428_man_512x512.png")
          .review__name
            | Amin El-Rifai
          .review__location
            | from Miami, FL
        .review__content
          | Great support, great interaction, solid hosting. Been with them for 3 years after being with 1and1. The servers are more responsive, the support team usually responds within 20 minutes of an issue being posted, and I'm pretty happy. Need I say more?
      .review__item
        .review__header
          .review__avatar
            img(class="review__avatar-img" src="https://www.shareicon.net/data/128x128/2015/09/24/106428_man_512x512.png")
          .review__name
            | Amin El-Rifai
          .review__location
            | from Miami, FL
        .review__content
          | Great support, great interaction, solid hosting. Been with them for 3 years after being with 1and1. The servers are more responsive, the support team usually responds within 20 minutes of an issue being posted, and I'm pretty happy. Need I say more?
