section.review
  .wrap
    .review__wrap
      .review__item
        .review__name
          | Amin El-Rifai
        .review__location
          | Gothenburg, Sweden
        .review__content
          | Great support, great interaction, solid hosting. Been with them for 3 years after being with 1and1. The servers are more responsive, the support team usually responds within 20 minutes of an issue being posted, and I'm pretty happy. Need I say more?
